/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	header.major h2 {
		font-size: 1.6em;
	}

	header.major .byline {
		font-size: 1.1em;
	}

	.wrapper {
		padding: 4em 0em 2em 0em;
	}

		.wrapper.style2 {
			padding-bottom: 5em;
		}

		.wrapper.style4 p {
			margin-bottom: 1em;
		}

		.wrapper.style5 img {
			width: 70%;
		}

/* Lists */

	ul.icons li a {
		font-size: 1.6em;
	}

/* Main */

	#main #sidebar .major h2 {
		font-size: 1.6em;
	}

/* Specifics */
#banner h2 {
	display: inline-block;
	padding: 0.50em 0.30em;
	-webkit-text-stroke: 0.8px black;
	font-size: 2rem;
	font-weight: 400;
}

#banner p {
    letter-spacing: 1px;
    text-transform: uppercase;
	font-size: 1rem;
    padding: 0 1rem;
	font-weight: 400;
	width: 100%;
    background-color: rgba(125, 125, 125, 0.6);
    border-radius: 0.4rem;
}

.coming_soon h2 {
	display: inline-block;
	padding: 0.50em 0.30em;
	-webkit-text-stroke: 0.8px black;
	font-size: 2rem;
	font-weight: 400;
}

.work_principles {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.core_item {
	width: 100%;
}

/* Team */
.team_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team_item {
	width: 100%;
}

/* Idea */
.idea_row {
    display: flex;
    flex-direction: column;
}

.idea_col {
	display: flex;
	flex-direction: column-reverse;
}

.social_issues {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social_issue_item {
    width: 100%;
}

.social_issue_item p {
    font-size: 1.2rem;
}

.idea_content p {
    font-size: 1.2rem;
}

.idea_solution {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.idea_solution .core_item {
    width: 100%;
}

.idea_solution .core_item h3 {
    font-size: 1rem;
}

.idea_benefit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.idea_benefit .core_item {
    width: 100%;
}

.idea_benefit .core_item h3 {
    font-size: 1rem;
}

.benefit_container {
	margin-top: 0;
	width: 100%;
}

.solution_container {
	margin-top: 0;
	width: 100%;
}

.social_container {
	margin-top: 0;
	width: 100%;
}

.idea_content {
	width: 100%;
}

.sidebar_container {
	width: 100%;
}

/* Nirvana Arts */

.painting_container p {
    font-size: 1rem;
    color: black;
}

.painting_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.painting_core .square_painting {
    width: 16rem;
    height: 16rem;
}

.painting_core .rectangular_painting {
    width: 18rem;
    height: 12rem;
}

/* Dream Team */

.wrapper.style4.outer_team_member_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper.style4 .outer_container {
	align-self: center;
	width: 95%;
}

.team_member {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.team_member_image {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: auto;
	margin: 1rem;
}

.member_information {
    margin: 0;
    flex-grow: 0;
}

.member_information ul {
    list-style: square;
    margin: 0;
}

.image_grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
    margin: 2rem;
}

.image_grid_item {
	height: auto;
	align-self: center;
	margin: 2rem;
}

/* Timeline */
.timeline_container {
	width: 100%;
}

.timeline_container h2 {
    font-size: 1.6rem;
    height: 1.2rem;
}
