@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

body {
    background: #222222;
    display: block !important;
}

body.loading * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

body,
input,
select,
textarea {
    color: #555555;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.65em;
}

a {
    color: #82b440;
    text-decoration: underline;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul,
ol,
dl,
table,
blockquote {
    margin: 0 0 2em 0;
}

p {
    line-height: 1.8em;
}

p.medium {
    font-size: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px #82b440;
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em #82b440;
    font-style: italic;
    padding: 1em 0 1em 2em;
}

section.special,
article.special {
    text-align: center;
}

header.major {
    padding-bottom: 2em;
    text-align: center;
}

header.major h2 {
    font-size: 2.6em;
    font-weight: 700;
}

header.major .byline {
    display: block;
    padding-top: 1em;
    letter-spacing: 1px;
    font-size: 1.4em;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border: solid 1px #82b440;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #82b440;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    line-height: 1em;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
    position: relative;
    top: 3px;
}

:-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

.formerize-placeholder {
    color: rgba(85, 85, 85, 0.5) !important;
}

/* Image */

.image {
    border: 0;
    position: relative;
}

.image.fit {
    display: block;
}

.image.fit img {
    display: block;
    width: 100%;
}

.image.feature {
    display: block;
    margin: 0 0 2em 0;
}

.image.feature img {
    display: block;
    width: 100%;
}

/* Icon */

.icon {
    position: relative;
}

.icon:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Lists */

ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

ol.default li {
    padding-left: 0.25em;
}

ul.default {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.default li {
    padding: 0.4em 0em;
}

ul.icons {
    cursor: default;
    padding-bottom: 2em;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding: 0.5em 1em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.icons li span {
    display: none;
}

ul.icons li a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    opacity: 0.2;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

ul.icons li a:hover {
    color: inherit;
    opacity: 1;
}

ul.actions {
    cursor: default;
}

ul.actions:last-child {
    margin-bottom: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.actions li:first-child {
    padding: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding: 0;
}

ul.special-icons {
    margin: 0em;
    padding: 0em;
}

ul.special-icons > li {
    position: relative;
    padding: 0.5em 0em 0.5em 0em;
}

ul.special-icons > li:before {
    position: absolute;
    left: 0;
    top: 2em;
    display: block;
    background: none;
    font-size: 2em;
    border-radius: 5px;
}

ul.special-icons > li:first-child {
    border-top: none;
}

ul.special-icons h3 {
    margin-bottom: 0.8em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}

ul.special-icons span {
    line-height: 190%;
}

ul.special-icons .fa {
    float: left;
    display: inline-block;
    padding-right: 1em;
    font-size: 1.4em;
    color: #82b440;
}

ul.special-icons p {
    padding-left: 2.7em;
}

/* Tables */

table {
    width: 100%;
}

table.default {
    width: 100%;
}

table.default tbody tr {
    border-bottom: solid 1px #82b440;
}

table.default td {
    padding: 0.5em 1em 0.5em 1em;
}

table.default th {
    font-weight: 700;
    padding: 0.5em 1em 0.5em 1em;
    text-align: left;
}

table.default thead {
    background: #555555;
    color: #fff;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: none;
    border: 2px solid;
    border-color: #82b440;
    color: #82b440;
    cursor: pointer;
    display: inline-block;
    padding: 0.9em 1.2em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background: #82b440;
    color: white;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
    border-color: inherit;
    color: inherit;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
.button.alt:hover {
    background: white;
    color: #82b440;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

/* Wrapper */

.wrapper {
    padding: 6em 0em 4em 0em;
}

.wrapper.style1 {
    padding: 0em;
    background: #222222 url(../images/banner.jpg) no-repeat;
    background-size: cover;
}

.wrapper.style2 {
    background: #f2f2f2;
}

.wrapper.style2 .major {
    text-align: left !important;
}

.wrapper.style2 .major h2 {
    display: block;
    margin-bottom: 0.7em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}

.wrapper.style2 .major .byline {
    letter-spacing: normal;
    line-height: 1.6em;
    font-size: 1.4em;
}

.wrapper.style2 h2 {
    display: block;
    margin-bottom: 0.7em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}

.wrapper.style2 p {
    padding-top: 1.6rem;
    font-size: 1.4em;
    font-weight: 400;
}

.wrapper.style3 {
    padding-bottom: 6em;
    background: #82b440;
    text-align: center;
    color: white;
}

.wrapper.style3 .container {
    padding-left: 6em;
    padding-right: 6em;
}

.wrapper.style3 p {
    font-size: 1.6em;
}

.wrapper.style4 {
    background: white;
}

.wrapper.style4 .container {
    width: 80%;
}

.work_principles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.core_item {
    width: 33%;
}

.wrapper.style5 {
    background: #82b440;
    text-align: center;
    color: white;
}

.wrapper.style5 .image {
    display: block;
    width: 60%;
    margin: 0em auto 2em auto;
}

.wrapper.style5 .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid;
    border-color: white;
}

/* Header */

#header {
    color: white;
    height: 4em;
    background: rgba(0, 0, 0, 0.5);
}

#header .container {
    position: relative;
}

.homepage #logo {
    display: none;
}

.homepage #nav {
    position: static;
    right: none;
    text-align: center;
}

#logo {
    line-height: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

#logo h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#logo a {
    color: inherit;
}

#nav {
    position: absolute;
    top: 0;
    right: 0;
}

#nav > ul {
    margin: 0;
}

#nav > ul > li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 1rem;
    padding: 0 0.5em;
    font-weight: 400;
}

#nav > ul > li a {
    color: inherit;
    line-height: 4em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
}

#nav > ul > li:first-child {
    margin-left: 0;
}

#nav > ul > li.active a {
    color: white;
}

#nav > ul > li > ul {
    display: none;
}

/* Dropotron */

.dropotron {
    top: 2em;
    background: rgba(32, 32, 32, 0.75);
    border-radius: 4px;
    color: inherit;
    min-width: 12em;
    padding: 1em 0;
    color: white;
}

.dropotron > li {
    line-height: 2em;
    padding: 0 1em;
}

.dropotron > li > a {
    color: inherit;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.dropotron > li.active > a,
.dropotron > li:hover > a {
    color: inherit;
}

.dropotron.level-0 {
    border-radius: 0 0 4px 4px;
    font-size: 1em;
    margin-left: -0.5em;
}

/* Banner */

#banner {
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: 90vh;
}

.coming_soon {
    height: 50vh;
    text-align: center;
    color: white;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.coming_soon .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.coming_soon h2 {
    display: inline-block;
    padding: 0.5em 0.3em;
    -webkit-text-stroke: 2px black;
    font-size: 6rem;
    font-weight: 400;
}

#banner .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#banner h2 {
    display: inline-block;
    padding: 0.5em 0.3em;
    -webkit-text-stroke: 2px black;
    font-size: 6rem;
    font-weight: 400;
}

#banner span,
#banner p {
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2rem;
    width: max-content;
    padding: 0 1rem;
    font-weight: 400;
    background-color: rgba(125, 125, 125, 0.6);
    border-radius: 0.4rem;
}

#banner span {
    padding: 1em 0em;
}

/* Main */

#main {
    padding: 2em 0;
}

#main #content .major,
#main #sidebar .major {
    text-align: left;
}

#main #sidebar section {
    margin-top: 4em;
}

#main #sidebar section:first-child {
    margin-top: 0;
}

#main #sidebar .major {
    padding-bottom: 2em;
}

#main #sidebar .major h2 {
    font-size: 1.8em;
}

/* Footer */

#footer {
    padding: 1.6rem 0;
    text-align: center;
    color: white;
}

#footer hr {
    border-bottom: 1px solid;
    border-color: inherit;
    opacity: 0.05;
}

#footer .major h2 {
    color: inherit;
}

#footer .major .byline {
    color: inherit;
    opacity: 0.4;
}

#footer .copyright {
    margin-top: 3em;
    text-align: center;
}

/* Copyright */

#copyright {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0rem;
    color: inherit;
    font-size: 400;
}

/* Extra */

#extra1 h2 {
    display: block;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}

#extra1 h3 {
    display: block;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
}

/* Team */

#team h3 {
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.team_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Idea */

.idea_row {
    display: flex;
    flex-direction: row;
}

.idea_col {
    display: flex;
    flex-direction: column;
}

.social_issues {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social_issue_item {
    width: 60%;
}

.social_issue_item p {
    font-size: 1.2rem;
}

.idea_content p {
    font-size: 1.2rem;
}

.idea_solution {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.idea_solution .core_item {
    width: 100%;
}

.idea_solution .core_item h3 {
    font-size: 1.2rem;
    text-transform: unset;
    font-weight: 400;
}

.idea_benefit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.idea_benefit .core_item {
    width: 100%;
}

.idea_benefit .core_item h3 {
    font-size: 1.2rem;
    text-transform: unset;
    font-weight: 400;
}

.benefit_container {
    margin-top: 2.4rem;
}

.sidebar_container {
    width: 40%;
}

.timeline_outer_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}

.timeline_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.timeline_container h2 {
    text-transform: uppercase;
    font-size: 2.6rem;
}

.timeline_img {
    display: flex;
    justify-content: center;
    background: white;
    margin: 0.8rem 0;
    width: 100%;
}

.timeline_img img {
    max-width: 100%;
}

/* Nirvana Arts */

.painting_container p {
    font-size: 1.6rem;
    color: black;
}

.painting_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.painting_core {
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
}

.painting_core img {
    
    align-self: center;
}

.painting_core .square_painting {
    max-width: 20rem;
    max-height: 20rem;
}

.painting_core .rectangular_painting {
    max-width: 30rem;
    max-height: 20rem;
}

.painting_section_header h2 {
    line-height: 2rem;
    margin-top: 2rem;
}

.painting_core h2 {
    margin: 0.4rem 0;
    text-align: center;
}

/* Dream Team */

.wrapper.style4.outer_team_member_box {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.wrapper.style4 .outer_container {
    align-self: center;
    width: 90%;
}

.team_member {
    display: flex;
    flex-direction: row;
}

.team_member_image {
    margin: 4rem 4rem 0 0;
}

.team_member_image img {
    width: 12rem;
    height: 12rem;
}

.member_information {
    margin: 4rem;
}

.member_information ul {
    list-style-position: inside;
    list-style: square;
    margin: 0 0 0 2rem;
}

.member_information li {
    font-size: 1.4rem;
    line-height: 2rem;
}

.image_grid {
    width: 40rem;
    margin: 4rem 0 0 4rem;
}

.image_grid_item {
    width: 20rem;
    height: 15rem;
}
